</div>
<footer class="bg-light py-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; {{copyrightYear}} {{siteInfo.siteName}}. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#">Privacy Policy</a>
                <span class="mx-2">|</span>
                <a href="#">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>